@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: hsl(212, 45%, 89%);
}

#card {
    height: 31.063rem;
    width: 20rem;
    margin: auto;
    margin-top: 9.563rem;
    border-radius: 1.25rem;
    background-color: #fff;
    box-shadow: 0rem .25rem .25rem rgba(0,0,0,.5)
}

img {
    width: 18rem;
    height: 18rem;
    border-radius: 0.625rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    padding: .75rem;
    margin: auto;
    text-align: center;
    color: hsl(218, 44%, 22%);
    width: 280px;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0.938rem;
    text-align: center;
    padding: .75rem 2rem;
    color: hsl(220, 15%, 55%)
}

.attribution {
    width: 20rem;
    text-align: center;
    margin: auto;
    font-family: "Outfit", sans-serif; 
}